body{
    padding: 0;
    margin: 0;
    font-family: 'Acme', sans-serif;
}
ul{
    padding: 0;
    margin: 0;
}
li {
    padding: 8px;
    border-bottom: 1px solid black;
}
.navlinks {
    background-color: rgb(12, 53, 176);
    color: white;
    text-align: center;
    font-size: 1.2rem;
 }
 li:hover{
    background-color: rgb(8, 220, 209);
         }
.imagebanner{
    background-image: url("images/images.jpg");
    padding: 50px 0;
}
h2  {
    text-align: center;
    color: white;
    background-color: blue;
}
.introduction {
    text-align: center;
    color: blue;
    font-size: 1.5rem;
}